<tr>
    <td class="footer" style="background-color: #333333; color: #ffffff; text-align: center; padding: 10px; font-size: 12px; border-top: 1px solid #dddddd;">
        &copy; {{year}} Personnel Management System. All rights reserved.
    </td>
</tr>
